body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.header {
  background-color: #eee;
  text-transform: uppercase;
  padding-top: 50px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu__link-main img:hover {
  opacity: 0.7;
}

.menu__link-main img:active {
  opacity: 0.5;
}

.menu__list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__item {
    display: inline-block;
    position: relative;
    margin-right: 50px;
}

.menu__item a, .menu__user a {
  display: block;
  text-decoration: none;
  color: #000;
  line-height: 30px;
  padding-top: 25px;
}

.menu__item a:hover, .menu__user a:hover {
  color: #fb565a;
}

.menu__item a:active, .menu__user a:active {
  color: #a6a6a6;
}

.menu__item--active::before {
  content: "";
  position: absolute;
  background: #fb565a;
  height: 2px;
  width: 100%;
  bottom: -5px;
}

.menu__basket {
  position: relative;
  padding-left: 40px;
}

.menu__basket::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 7px;
  left: 0;
  background: url("../img/cart-icon.png");
}

.slider__dots-wrp {
  position: absolute;
  bottom: 106px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}

.slider__dot {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 6px;
  background: #fff;
  border: 5px solid #fff;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
}

.slider__dot::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  top: 2px;
  right: 2px;
}

.slider{
  background-color: #eee;
  position: relative;
}

.slider__text {
  padding-top: 80px;
  padding-bottom: 78px;
  width: 515px;
}

.slider input[type=radio] {
  display: none;
}

#btn-1:checked ~ .slider__dots-wrp .slider__dot[for="btn-1"],
#btn-2:checked ~ .slider__dots-wrp .slider__dot[for="btn-2"],
#btn-3:checked ~ .slider__dots-wrp .slider__dot[for="btn-3"] {
  background: #c1c1c1;
}

.slider__item:nth-child(1) {
background-image: url("../img/slider-1.jpg");
background-repeat:no-repeat;
background-position: 100% 28px;
}

.slider__item:nth-child(2) {
background-image: url("../img/slider-2.jpg");
background-repeat:no-repeat;
background-position: 100% 28px;
}

.slider__item:nth-child(3) {
background-image: url("../img/slider-3.jpg");
background-repeat:no-repeat;
background-position: 100% 28px;
}

.slider__item {
  display: none;
}

#btn-1:checked ~ .slider__list .slider__item:nth-child(1) {
    display: block;
}
#btn-2:checked ~ .slider__list .slider__item:nth-child(2) {
    display: block;
}
#btn-3:checked ~ .slider__list .slider__item:nth-child(3) {
    display: block;
}

.slider__title, .main__title--catalog {
  display: block;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  padding: 0;
  padding-bottom: 30px;
  margin: 0;
}
.slider__slogan {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.button {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: center;
  border-radius: 5px;
}
.button__slider {
  width: 240px;
  margin-top: 45px;
}


.button__slider, .button__order--red {
  background-color: #fb565a;
}

.button__slider:hover, .button__order--red:hover  {
  background-color: #e74246;
}

.button__slider:active, .button__order--red:active {
  color: #e26f72;
  background-color: #d7373b;
  box-shadow: 0px 3px 0px 0px #c13135 inset;
}

.button__order {
  width: 160px;
}

.button__order--yellow {
  background-color: #efc84a;
}

.button__order--yellow:hover {
  background-color: #eab534;
}

.button__order--yellow:active {
  color: #edc265;
  background-color: #e5a722;
  box-shadow: 0px 3px 0px 0px #ce961f inset;
}

.button__order--green {
  background-color: #00ca74;
}

.button__order--green:hover {
  background-color: #00bc6c;
}

.button__order--green:active {
  color: #4dc491;
  background-color: #00aa62;
  box-shadow: 0px 3px 0px 0px #009958 inset;
}

.main__list {
  margin-top: 82px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eee;
  display: flex;
  justify-content: space-between;
}

.main__item {
  width: 300px;
}

.main__description {
  padding-top: 30px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eee;
  display: flex;
  justify-content: space-between;
}
.main__text {
  width: 660px;
  margin-right: 120px;
}

.main__text-title {
  padding: 0;
  padding-top: 45px;
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.main__text-slogan {
  line-height: 24px;
}

.main__text h3 {
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.main__text-list {
  list-style: none;
}

.main__text-list li {
  padding-bottom: 25px;
  position: relative;
}

.main__text-list li::before {
  content: "";
  top: 12px;
  left: -35px;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.main__statistics {
  width: 360px;
}

.main__table-title {
  display: block;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 25px;
}

.main__table {
  margin-top: 40px;
}

.main__table-row th {
  font-size: 45px;
  line-height: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 15px;
  text-align: left;
}

.main__table-row sup {
  font-size: 28px;
}

.main__clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px 48px 30px;
  border-bottom: 2px solid #eee;
  margin-bottom: 80px;
}

.main__client {
  opacity: 0.24;
}

.main__client:hover {
  opacity: 1;
}

.main__client:active {
  opacity: .1;
}

.address {
  position: relative;
  width: 100%;
  height: 418px;
  z-index: 20;
  background: #fff url("../img/map-marker.jpg") center no-repeat;
  background-size: cover;
  top: 60px;
  right: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 75px;
}

.address__title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.address__container {
  box-sizing: border-box;
  position: absolute;
  top: 70px;
  left: 91px;
  display: block;
  background-color: #fff;
  width: 320px;
  height: 310px;
  z-index: 30;
  padding: 40px 50px;
  }

.address__text {
  display: block;
  color: #666;
  width: 202px;
}

.address__phone {
  color: #666;
  padding-top: 5px;
  padding-bottom: 20px;
}

.button__address {
  background-color: #fb565a;
  width: 220px;
}
.footer {
  display: flex;
  padding-bottom: 70px;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin-right: 140px;
  }

.footer__item {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  background-color: #e1e1e1;
  font-size: 0;
}

.footer__item:hover {
  background-color: #e74246;
}

.footer__item:active {
  background-color: #d7373b;
}

.footer__item--vk {
  background-image: url("../img/vk-icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  }

  .footer__item--vk:active {
    background-image: url("../img/vk-icon-active.png");
  }

.footer__item--fb {
  background-image: url("../img/fb-icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer__item--fb:active {
  background-image: url("../img/fb-icon-active.png");
}

.footer__item--ig {
  background-image: url("../img/insta-icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer__item--ig:active {
  background-image: url("../img/insta-icon-active.png");
}

.footer__text {
  width: 560px;
}

.footer__text-slogan {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 600;
}
 .footer__text-offer {
   font-size: 16px;
   line-height: 22px;
   color: #444;
 }

.main__title--catalog {
  padding-top: 80px;
  padding-bottom: 115px;
  text-align: center;
  background-color: #eee;
  }

.container__catalog {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  width: 238px;
  margin-right: 120px;
}

.catalog {
  margin-left: 20px;
  margin-right: 20px;
}

.catalog__filter {
  margin-top: 60px;
  margin-bottom: 90px;
}

.catalog__sort-title{
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  margin-right: 240px;
}

.catalog__sort {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  text-transform: uppercase;
}

.catalog__sort-item {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  margin-left: 27px;
}

.catalog__sort-item a {
  color: #000;
  opacity: 0.3;
  text-decoration: none;
}

.catalog__sort-item a:hover {
  opacity: .6;
}

.catalog__sort-item a:active {
  opacity: 1;
}

.catalog__sort-item--active a {
  color: #000;
  opacity: 1;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  box-sizing: border-box;
  margin-top: 65px;
  }

.catalog__item {
  margin-right: 40px;
  margin-bottom: 80px;
  position: relative;
  }
.catalog__item:nth-child(2n) {
  margin-right: 0;
}

.catalog__item::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #eee;
  top:-40px;
}

.catalog__item::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  left: 50px;
  top: -25px;
  box-shadow: 25px 0 0 0 #fff,
  -25px 0 0 0 #fff;
}

.catalog__hover {
  display: block;
  height: 235px;
  width: 100%;
  background-color: #eee;
  box-sizing: border-box;
}
.catalog__hover-wrp {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 200px;
}
.catalog__discription {
  display: block;
}
.catalog__title {
  margin: 0;
  padding: 0;
  text-align: center;
}
.catalog__toggle-list {
  display: inline-block;
  margin-left: 37px;
}

.catalog__toggle {
  display: inline-block;
  cursor: pointer;
}

.catalog__toggle--down {
  width: 9px;
  height: 9px;
  margin-right: 10px;
  background-image: url("../img/sort-down.png");
}

.catalog__toggle--up {
  width: 9px;
  height: 9px;
  background-image: url("../img/sort-up.png");
  opacity: 0.2;
  cursor: auto;
}

.filter__title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    padding-bottom: 30px;
}

.filter__title--price {
  padding-top: 60px;
  padding-bottom: 60px;
}

.filter__range {
  position: relative;
  height: 41px;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  padding-top: 39px;
  background: #f1f1f1;
}

.filter__scale {
  height: 2px;
  background: #d7dcde;
}

.filter__bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.filter__toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  background: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.filter__toggle--min {
  left: 20px;
}

.filter__toggle--max {
  left: 145px;
}

.filter__price {
  margin-bottom: 57px;
  font-size: 0;
}
.filter__value {
  display: inline-block;
  width: 50%;
  font-size: 16px;
}

.filter__value-input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  margin-left: 10px;
  text-align: center;
  width: 60px;
  padding: 8px 10px;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.filter__value--max-price {
  text-align: right;
}

.filter__grid, .filter__features {
  margin-bottom: 57px;
}

.filter__radio, .filter__check {
  display: none;
}

.filter__label {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  display: block;
  cursor: pointer;
  color: #283136;
  padding-bottom: 25px;
  padding-left: 37px;
}

.filter__label:last-child {
  padding-bottom: 0;
}

.filter__label--radio::before {
  content: "";
  width: 25px;
  height: 25px;
  top: -5px;
  left: 0;
  position: absolute;
  background-image: url("../img/radio-off.png");
  opacity: 0.4;
}

.filter__label--radio:hover::before, .filter__label--check:hover::before {
  opacity: 1;
}

.filter__label--radio:active::before, .filter__label--check:active::before {
  opacity: .1;
}

input[type=radio]:checked + label::before {
  content: "";
  width: 25px;
  height: 25px;
  top: -5px;
  left: 0;
  position: absolute;
  background-image: url("../img/radio-on.png");
}

.filter__label--check::before {
  content: "";
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../img/checkbox-off.png");
  opacity: 0.4;
}

input[type=checkbox]:checked + label::before {
  content: "";
  width: 27px;
  height: 23px;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../img/checkbox-on.png");
}

.filter__button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  width: 260px;
  min-height: 50px;
  background-color: #eee;
  border: 0;
  cursor: pointer;
  border-radius: 5%;
  border-radius: 5px;
  }

.filter__button:hover, .paginator__link:hover {
  background-color: #dfdfdf;
}

.filter__button:active, .paginator__link:active {
  color: #959595;
  background-color: #d5d5d5;
  box-shadow: 0px 3px 0px 0px #bfbfbf inset;
}

.paginator__link {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  height: 50px;
  text-decoration: none;
  color: #2e2e2e;
  font-size: 16px;
  line-height: 18px;
  padding: 16px 21px;
  background-color: #eee;
  border-radius: 5%;
  margin-right: 6px;
  }

  .paginator--current {
    background-color: #fff;
    border: 2px solid #eee;
    box-sizing: border-box;
  }
