body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

header {
  background-color: #eee;
  text-transform: uppercase;
  padding-top: 50px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu__list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__item {
    display: inline-block;
    margin-right: 50px;
}

.menu__item a, .menu__user a {
  display: block;
  text-decoration: none;
  color: #000;
  line-height: 30px;
  padding-top: 25px;
}

.main {
  margin-top: -20px;
}

.main__slider{
  background-color: #eee;
  padding-bottom: 80px;
}

.main__slider-text {
  padding-top: 80px;
  width: 400px;
}

.main__slider-text span {
  display: block;
  font-size: 55px;
  line-height: 55px;
  padding-bottom: 20px;
}

.button {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: center;
}

.button--more {
  background-color: #fb565a;
  width: 240px;
  border-radius: 5px;
}

.button__order {
  width: 160px;
}

.button__order--red {
  background-color: #fb565a;
}

.button__order--yellow {
  background-color: #efc84a;
}

.button__order--green {
  background-color: #00ca74;
}

.main__list {
  margin-top: 82px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eee;
  display: flex;
  justify-content: space-between;
}

.main__item {
  width: 300px;
}

.main__description {
  padding-top: 30px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eee;
  display: flex;
  justify-content: space-between;
}
.main__text {
  width: 660px;
  margin-right: 120px;
}

.main__text-title {
  padding: 0;
  padding-top: 45px;
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.main__text-slogan {
  line-height: 24px;
}

.main__text h3 {
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.main__text-list {
  list-style: none;
}

.main__text-list li {
  padding-bottom: 25px;
  position: relative;
}

.main__text-list li::before {
  content: "";
  top: 12px;
  left: -35px;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.main__statistics {
  width: 360px;
}

.main__table-title {
  display: block;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 25px;
}

.main__table {
  margin-top: 40px;
}

.main__table-row th {
  font-size: 45px;
  line-height: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 15px;
  text-align: left;
}

.main__table-row sup {
  font-size: 28px;
}

.main__clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px 48px 30px;
  border-bottom: 2px solid #eee;
  margin-bottom: 80px;
}

.main__client {
  opacity: 0.24;
}

.address {
  position: relative;
  width: 100%;
  height: 418px;
  z-index: 20;
  background: #fff url("../img/map-marker.jpg") center no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 75px;
}

.address__title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.address__container {
  box-sizing: border-box;
  position: absolute;
  top: 70px;
  left: 91px;
  display: block;
  background-color: #fff;
  width: 320px;
  height: 310px;
  z-index: 30;
  padding: 40px 50px;
  }

.address__text {
  display: block;
  color: #666;
  width: 202px;
}

.address__phone {
  color: #666;
  padding-top: 5px;
  padding-bottom: 20px;
}

.button__address {
  background-color: #fb565a;
  width: 220px;
}
.footer {
  display: flex;
  padding-bottom: 70px;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin-right: 140px;
  }

.footer__item {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.footer__item--vk {
  background-image: url("../img/vk-icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer__item--fb {
  background-image: url("../img/fb-icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer__item--ig {
  background-image: url("../img/insta-icon.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer__text {
  width: 560px;
}

.footer__text-slogan {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 600;
}
 .footer__text-offer {
   font-size: 16px;
   line-height: 22px;
   color: #444;
 }
